@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Fira Sans', sans-serif; }

.nav {
  font-size: 1.5rem;
  height: auto;
  display: flex;
  flex-flow: row;
  padding: 3rem 30rem;
  background: #000; }
  .nav__logo {
    font-size: 2rem;
    font-weight: bold; }
  .nav__list {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .nav__item, .nav__logo {
    text-decoration: none;
    margin-left: 2rem;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    padding: .5rem 1rem;
    transition: all .2s; }
    .nav__item:hover, .nav__logo:hover {
      background: #fff;
      color: #000; }

.header {
  width: 100%;
  text-align: center;
  display: block;
  padding: 3rem; }
  .header__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center; }

.form-container {
  width: 30%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: max-content 1fr;
  padding: 3rem; }
  .form-container__title {
    font-size: 2rem;
    letter-spacing: .3rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
    padding: 1rem;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .form-container__form {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    padding: 5rem;
    box-shadow: 1rem 1rem 1rem #aaa;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid #aaa; }
  .form-container__input {
    width: 100%;
    margin: .2rem 0;
    padding: 1.5rem;
    border-radius: 5px;
    border: 1px solid lightblue; }
  .form-container__btn--submit {
    border: 0;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    background: dodgerblue;
    color: #fff; }

input::placeholder {
  text-transform: uppercase;
  color: lightblue;
  letter-spacing: .5rem; }

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 30, 181, 0.8);
  display: flex; }

.split {
  position: relative;
  width: 100%;
  transition: all .5s; }
  .split__title {
    font-size: 3rem;
    color: red;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; }
  .split__left {
    background: green;
    width: 50%; }
  .split__right {
    background: brown;
    width: 50%; }
  .split__link {
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid #000;
    padding: 1rem;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center; }

.hovered {
  width: 75%; }

.unhovered {
  width: 25%; }
